/*
全局样式表
 */
html, body, #app{
  height: 100%;
  margin: 0;
  padding: 0;
  /*当屏幕宽度小于1300px时，屏幕自动加左右滑动框*/
  min-width: 1300px;
}

.el-breadcrumb {
  margin-bottom: 15px;
}
.el-card {
  /*盒子阴影   !important表示自定义的样式覆盖原来的样式*/
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}
